<app-layout>
    <h1>Contactez-Nous</h1>
    {{prenom}} {{nom}} est connecté ?: {{estConnecte}};
    <p>Nous sommes en {{annee[3]}}</p>
    il y'a 2ans nous etions en {{annee1[0]}}
    <p *ngFor="let a of annee1">
        {{a}}
    </p>

    <div class="container">
      <h1>Contact</h1>
      <hr>
      <label for="name"><input type="text" id="name" placeholder="What's your name?"></label>
      <label for="email"><input type="email" id="email" placeholder="Please enter your email"></label>
      <label for="phone"><input type="number" id="phone" placeholder="Phone number"></label>
      <label for="mensaje"><textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Leave us a message."></textarea></label>
      <input type="submit" value="Send">
  </div>
</app-layout>

